name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '10 3 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Fetch latest data
      run: |-
        curl "https://data.cityofnewyork.us/api/views/k397-673e/rows.csv?accessType=DOWNLOAD" | grep -i ",POLICE DEPARTMENT," > nyc-nypd-citywide-payroll.csv
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
